<%- include('partials/header') %>
<main>
    <h1><%= category.name %></h1>
    <h3>Service Projects</h3>
    <ul>
        <% projects.forEach(project => { %>
            <li><a href="/project/<%= project.project_id %>"><%= project.title %></a></li>
        <% }) %>
    </ul>
</main>
<%- include('partials/footer') %>