<%- include('partials/header') %>

<main class="container">

<h2>Edit Category</h2>

<% if (error) { %>
  <p style="color:red;"><%= error %></p>
<% } %>

<form method="POST" action="/categories/edit/<%= category.category_id %>">

    <label>Name:</label>
    <input type="text" name="name" value="<%= category.name %>" required />

    <button type="submit">Update Category</button>

</form>

</main>

<%- include('partials/footer') %>