<%- include('partials/header') %>

<main>
    <h1><%= organization.name %></h1>
    <p><%= organization.description %></p>
    <p><strong>Email:</strong> <%= organization.contact_email %></p>
    <a href="/organizations">Back to All Organizations</a>
</main>

<%- include('partials/footer') %>