<%- include('partials/header') %>

<main class="container">

    <h1><%= title %></h1>

    <section class="projects-wrapper">

        <% let currentOrg = null; %>

        <% projects.forEach(project => { %>

            <% if (currentOrg !== project.organization_name) { %>
                <% currentOrg = project.organization_name; %>

                <h2 class="org-title">
                    <%= currentOrg %>
                </h2>
            <% } %>

            <div class="project-item">

                <a href="/project/<%= project.project_id %>" class="project-title">
                    <%= project.title %>
                </a>

                <p class="project-desc">
                    <%= project.description %>
                </p>

            </div>

        <% }) %>

    </section>

</main>

<%- include('partials/footer') %>