<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <ul>
        <% projects.forEach(project => { %>
            <li>
                <strong>Project:</strong> <%= project.title %> (<%= project.organization_name %>)<br>
                <%= project.description %>
            </li>
        <% }); %>
    </ul>
</main>

<%- include('partials/footer') %>