<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <ul>
        <% projects.forEach(project => { %>
            <li>
                <!-- Project link -->
                <a href="/project/<%= project.project_id %>">
                    <%= project.title %>
                </a>

                <!-- Organization link -->
                (
                <a href="/organization/<%= project.organization_id %>">
                    <%= project.organization_name %>
                </a>
                )

                - <%= project.date %>
            </li>
        <% }); %>
    </ul>
</main>

<%- include('partials/footer') %>