<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>

        <ul>
            <% projects.forEach(project=> { %>
                <li>
                    <strong>
                        <%= project.project_date ? project.project_date.toDateString() : 'Date TBD' %>:
                            <%= project.title %> (<%= project.organization_name %>)
                    </strong>
                    <p>
                        <%= project.description %>
                    </p>
                    <% if (project.location) { %>
                        <p>Location: <%= project.location %>
                        </p>
                        <% } %>
                </li>
                <% }); %>
        </ul>
    </main>

    <%- include('partials/footer') %>